include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include dls *.css
recursive-include dls *.csv
recursive-include dls *.html
recursive-include dls *.ico
recursive-include dls *.js
recursive-include dls *.json
recursive-include dls *.md
recursive-include dls *.png
recursive-include dls *.py
recursive-include dls *.svg
recursive-include dls *.txt
recursive-exclude dls *.pyc
